<!DOCTYPE html>
<html>
    <style>
        h1 {text-align: center;}
        /* p {text-align: center;} */
        div {text-align: center;}
    </style>
    <head>Jira-Doop for your task management need.</head>
    <body>
        <p align="justify" >Ready to manage your (very) small team's tasks more effectively?<br>
            You have come to the right place!<br>
            Jira-Doop allows you create tickets for different tasks and track their progress.<br>
            You can also create sub-tickets when breaking major tasks into smaller parts.<br>
            Click <a href="url">here</a> to login to your account and see for yourself!<br>
        </p>
        </body>
</html>